<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fena"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.fena.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fena.LogIn"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fena.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINFENA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fena.MainActivityLogin"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINFENALOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fena.EditMyProfile"
            android:label="@string/app_name"
            android:parentActivityName="com.example.fena.Profile" >
            <intent-filter>
                <action android:name="android.intent.action.REDPROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fena.Profile"
            android:label="@string/app_name"
            android:parentActivityName="com.example.fena.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fena.ProjectView"
            android:label="@string/app_name"
            
            android:parentActivityName="com.example.fena.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.PROJECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fena.EditProject"
            android:label="@string/app_name"
            android:parentActivityName="com.example.fena.ProjectView" >
            <intent-filter>
                <action android:name="android.intent.action.REDPROJECT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.fena.MyProfile"
            android:label="@string/app_name" 
            android:parentActivityName="com.example.fena.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MYPROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
               <activity
            android:name="com.example.fena.CreateMyProfile"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CREATEMYPROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>